.manu {
    padding-top: 2rem;
    display: flex;
    position: left;
    margin-left: 2rem;
    font-size: 1.5em;
    color: #E7717D;
    
}

.text_menu {
    text-decoration: none;
    color: #000000;
    margin-left: 1rem;
    margin-right: 1rem;
}