.back {
    background-color: #ebebeb;
    width: 18rem;
    padding: 1%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.item {
    display: inline-block;
}

.icon_sh {
    width: 2rem;
    height: 2rem;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
    margin-bottom: 0.1rem;
}