.one_option {
    border: 2px solid;
    border-color: #928d89;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-right: 0.1rem;
  }

  .remove_option {
    margin-left: 1rem;
    cursor: pointer;
  }

  .selected_options {
    margin-left: 9.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 25rem;
    gap: 0.1rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;;
  }

  .input {
    line-height: 2.3;
    border-radius: 12px;
    border-color: #c2b9b0;
    border-style: solid;
    padding-left: 20px;
    font-family: "Andika", sans-serif;
    width: 20rem;
    background-color: #FFFDF9;
  }

  .function_list_container {
    position: relative;
    margin-left: 8rem;
  }
  
  .function_list {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(2rem);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
