.title {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 19px;
    color: #E7717D;
    max-width: 17rem;
    
  }
  
  .login_wrapper {
    padding: 32px 0 32px;
    font-family: "Arial", sans-serif;
    color: #4E4E4E;
  }
  
  .login_wrapper div {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #4E4E4E;
  }
  
  .input {
    line-height: 2.3;
    border-radius: 12px;
    border-color: #c2b9b0;
    border-style: solid;
    padding-left: 20px;
    font-family: "Arial", sans-serif;
    width: 15rem;
    color: #4E4E4E;
  }

  
  .button {
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #E7717D;
    color: #FFFDF9;
    font-family: "Arial", sans-serif;
    cursor: pointer;
  }