.input {
    line-height: 2.3;
    border-radius: 12px;
    border-color: #c2b9b0;
    border-style: solid;
    padding-left: 20px;
    font-family: "Andika", sans-serif;
    width: 30rem;
    background-color: #FFFDF9;
  }