.head {
    background-color: #E7717D;
    background: rgb(246,187,128);
    background: linear-gradient(20deg, rgba(246,187,128,1) 19%, rgba(231,113,125,1) 61%);
    width: 100%;
    position: fixed;
    margin-top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 200;
}

.sh_cart {
    height: 2.2rem;
    width: 2.2rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.user_img {
    height: 2.2rem;
    width: 2.2rem;
    object-fit: cover;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}