.input {
    line-height: 2.3;
    border-radius: 12px 0 0 12px;
    border-color: #c2b9b0;
    border-style: solid;
    padding-left: 20px;
    font-family: "Andika", sans-serif;
    width: 20rem;
    background-color: #FFFDF9;
    font-size: 15px;
    color: #837b74;
  }

  .function_list_container {
    position: relative;
  }
  
  .function_list {
    font-size: 15px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(2rem);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    color: #4E4E4E;
  }