.head {
    background-color: #E7717D;
    background: rgb(246,187,128);
    background: linear-gradient(20deg, rgba(246,187,128,1) 19%, rgba(231,113,125,1) 61%);
    width: 100%;
    position: fixed;
    margin-top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 200;
}