.ava {
    
    @media (max-width: 480px) {
        height: 5rem;
    }
    @media (max-width: 768px) and (min-width: 481px){
        height: 9rem;
    }
    @media (min-width: 768px) {
        height: 12rem;
    }
}

.image_form {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .centerElement {
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }

  .text_name{
    display: flex;
    justify-content: center;
    color: #4E4E4E;
    font-family: "Andika", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }