.back {
    font-family: "Arial", sans-serif;
    background-color: #ffffff;
    height: 100%;
}

.button {
    line-height: 1.2;
    padding: 10px 30px;
    padding-left: 1.2rem;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #E7717D;
    color: #FFFDF9;
    font-family: "Arial", sans-serif;
    cursor: pointer;
    margin-left: 2rem;
    display: flex;
    position: left;
    font-size: 16px;
  }

  .plus {
    height: 1.2rem;
    width: 1.2rem;
    padding-left: 0;
    margin-left: 0;
    padding-right: 1rem;
  }

  .items {
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
    justify-content: center;
}