.back {
    background-color: #ffffff;
    height: 100vh;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.app_wrapper {
  font-family: "Arial", sans-serif;
  margin: auto;
  padding: 0;
  height: 100vh;
  /*background-image: url('back.svg');
  background-repeat: repeat;*/
  background-color: #ffffff;
  display: block;
}

.main {
  padding-top: 30px;
  color: #081F5C;
}
a {
  color: #081F5C;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.title {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
  color: #E7717D;
  padding-bottom: 1rem;
}

  
  .input {
    line-height: 2.3;
    border-radius: 12px;
    border-color: #c2b9b0;
    border-style: solid;
    padding-left: 20px;
    font-family: "Arial", sans-serif;
    width: 30rem;
    background-color: #FFFDF9;
    font-size: 15px;
    color: #837b74;
  }

  
  .button {
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #E7717D;
    color: #FFFDF9;
    font-family: "Arial", sans-serif;
    cursor: pointer;
    margin-bottom: 7rem;
    margin-top: 3rem;
    font-size: 15px;
    
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .delete_img {
    width: 2rem;
    height: 2rem;
  }

  .delete_text {
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }